<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>재고관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/ima/basicStockList}">기초 재고 관리</a></h1>
        </div>
    </div>

    <!--<span id="more" style="cursor: pointer;" onclick="if(story.style.display=='none') {story.style.display='';$('#aaa').attr('class', 'glyphicon glyphicon-minus');} else {story.style.display='none';$('#aaa').attr('class', 'glyphicon glyphicon-plus');}"><span id="aaa" class="glyphicon glyphicon-plus" aria-hidden="true">엑셀업로드</span></span>-->
    <!--<div id="story" style="display: none">-->
    <!--<div class="panel-group" style="margin-top:20px">-->
        <!--<div class="panel panel-primary">-->
        <!--<form autocomplete="off" action="#"  method="post" class="form-inline" role="form" enctype="multipart/form-data" id="fileUploadForm">-->
            <!--<input type="hidden" id="boardIdx" name="boardIdx" value="004"/>-->
            <!--<div class="form-group">-->
                <!--<label for="fileVal">상품 재고현황 리스트 엑셀업로드</label>-->
                <!--<input type="file"  id="fileVal" name="file"/><br/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-danger" id="btnSubmit">업로드</button>-->
        <!--</form>-->
        <!--<div>-->
            <!--&lt;!&ndash;<p>| 상품코드 | 해당년월 | 기초재고 | 입고 | 출고 | 기말재고 |</p>&ndash;&gt;-->
            <!--<p>| 상품코드 | 입력일 | 재고량 | 분류 |</p>-->
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="alert alert-success" id="success-alert" style="display: none">-->
        <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
        <!--<strong>Success! </strong>-->
        <!--상품 재고현황 리스트 엑셀파일 업로드.-->
    <!--</div>-->

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="callName" id="callName" value="getBasicStockList" />
            <div class="form-group">
                <label for="prodCode">상품코드</label>
                <input type="text" class="form-control" name="prodCode" id="prodCode" placeholder="상품코드" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="prodName">상품명</label>
                <input type="text" class="form-control" name="prodName" id="prodName" placeholder="상품명" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="searchYearMonth2">해당년월</label>
                <input type="text" class="form-control" name="searchYearMonth2" id="searchYearMonth2" placeholder="yyyy-mm" value="" />
            </div>
            <button type="button" class="btn pull-right btn-danger" onclick="getProdHistoryList()">검색</button>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span class="label label-default" id="total-count"></span>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <button type="button" class="btn btn-primary" id="btnExcel" onclick="downloadExcel()" >엑셀다운로드</button>
            </p>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th class="text-center">상품코드</th>
                    <th class="text-center">상품명</th>
                    <!--<th class="text-center">재고(공장출고+배송실재고+영업+듀오락+외부몰)</th>-->
                    <th class="text-center">입력일</th>
                    <!--<th class="text-center">기초재고</th>-->
                    <!--<th class="text-center">입고</th>-->
                    <!--<th class="text-center">출고</th>-->
                    <th class="text-center">입력</th>
                    <!--<th class="text-center">분류</th>-->
                    <th class="text-center function">기능</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <div class="col-md-12 col-xs-12 text-center" style="margin-bottom: 50px;">
                <p id="pagination-here" class="pagination-margin" align="center"></p>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getBasicStockList(1);

    function onKeyDown(obj) {
        if(event.keyCode == 13) {
            getBasicStockList(1);
        }
    }
</script>

</body>
</html>
