<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>재고관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/ima/itemProdList}">듀오락 제품 관리</a></h1>
        </div>
    </div>

    <span id="more" style="cursor: pointer;" onclick="if(story.style.display=='none') {story.style.display='';$('#aaa').attr('class', 'glyphicon glyphicon-minus');} else {story.style.display='none';$('#aaa').attr('class', 'glyphicon glyphicon-plus');}"><span id="aaa" class="glyphicon glyphicon-plus" aria-hidden="true">엑셀업로드</span></span>
    <div id="story" style="display: none">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <form autocomplete="off" action="#"  method="post" class="form-inline" role="form" enctype="multipart/form-data" id="fileUploadForm">
                <input type="hidden" id="boardIdx" name="boardIdx" value="004"/>
                <div class="form-group">
                    <label for="fileVal">품목-상품 엑셀업로드</label>
                    <input type="file"  id="fileVal" name="file"/><br/>
                </div>
                <button type="submit" class="btn btn-danger" id="btnSubmit">업로드</button>
            </form>
            <div>
                <p>| 품목 | 상품코드 | 해당년월(YYYY/MM) |</p>
            </div>
        </div>
    </div>
    </div>

    <div class="alert alert-success" id="success-alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Success! </strong>
        품목-상품 엑셀파일 업로드.
    </div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
                <input type="hidden" name="pageNumber" id="pageNumber" />
                <input type="hidden" name="callName" id="callName" value="getItemProdList" />
                <div class="form-group">
                    <label for="searchItemCode">품목코드</label>
                    <input type="text" class="form-control" name="searchItemCode" id="searchItemCode" placeholder="품목코드" onkeydown="onKeyDown(this)" />
                </div>
                <div class="form-group">
                    <label for="searchItemName">품목명</label>
                    <input type="text" class="form-control" name="searchItemName" id="searchItemName" placeholder="품목명" onkeydown="onKeyDown(this)" />
                </div>
                <div class="form-group">
                    <label for="searchProdCode">상품코드</label>
                    <input type="text" class="form-control" name="searchProdCode" id="searchProdCode" placeholder="상품코드" onkeydown="onKeyDown(this)" />
                </div>
                <div class="form-group">
                    <label for="searchProdName">상품명</label>
                    <input type="text" class="form-control" name="searchProdName" id="searchProdName" placeholder="상품명" onkeydown="onKeyDown(this)" />
                </div>
                <div class="form-group">
                    <label for="searchMappingDate">해당년월</label>
                    <input type="text" class="form-control" name="searchMappingDate" id="searchMappingDate" placeholder="yyyy-mm" value="" />
                </div>
                <div class="form-group">
                    <label for="searchUseYn">재고등록여부</label>
                    <select name="searchUseYn" id="searchUseYn" class="form-control">
                        <option th:each="item : ${selectUseYn}"
                                th:value="${item.value}"
                                th:text="${item.key}">재고등록여부</option>
                    </select>
                </div>
                <button type="button" class="btn pull-right btn-danger" onclick="getItemProdList(1)">검색</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span class="label label-default" id="total-count"></span>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <!--<button type="button" class="btn btn-primary" id="btnExcel" onclick="location.href='/admin/codeListEdit'">등록</button>-->
                <button type="button" class="btn btn-primary" onclick="createItemProd();">등록</button>
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                    <tr>
                        <th class="text-center">품목코드</th>
                        <th class="text-center">품목명</th>
                        <th class="text-center">상품코드</th>
                        <th class="text-center">상품명</th>
                        <th class="text-center">해당년월</th>
                        <th class="text-center">재고등록여부</th>
                        <!--<th class="text-center">등록자</th>-->
                        <!--<th class="text-center">등록일</th>-->
                        <th class="text-center function">기능</th>
                    </tr>
                    </thead>
                    <tbody id="itemProdListTbody">
                    </tbody>
                </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <div class="col-md-12 col-xs-12 text-center page-margin">
                <p id="pagination-here" class="pagination-margin" align="center"></p>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="createItemProdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <!--<form class="modal-content form-horizontal" th:action="@{/admin/groupCodeList/save}" th:object="${groupCodeList}" method="post">-->
        <form class="modal-content form-horizontal" action="#" method="post" id="createItemProdModalForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">품목-상품 등록</h4>
            </div>
            <div class="modal-body">
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-md-offset-3">-->
                        <!--<form autocomplete="off" action="#" th:action="@{/admin/groupCodeList/save}" th:object="${groupCodeList}" method="post" class="form-horizontal" role="form">-->
                            <div class="form-group has-error">
                                <label class="col-sm-3 control-label" for="itemCode">품목코드</label>
                                <div class="col-sm-8">
                                    <input type="text" name="itemCode" id="itemCode" placeholder="품목" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="itemName">품목명</label>
                                <div class="col-sm-8">
                                    <input type="text" name="itemName" id="itemName" placeholder="품목명" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group has-error">
                                <label class="col-sm-3 control-label" for="prodCode">상품코드</label>
                                <div class="col-sm-8">
                                    <input type="text" name="prodCode" id="prodCode" placeholder="상품코드" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="prodName">상품명</label>
                                <div class="col-sm-8">
                                    <input type="text" name="prodName" id="prodName" placeholder="상품명" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group has-error">
                                <label class="col-sm-3 control-label" for="mappingDate">해당년월</label>
                                <div class="col-sm-8">
                                    <input type="text" name="mappingDate" id="mappingDate" placeholder="클릭해서 선택해주세요." class="form-control" />
                                </div>
                            </div>
                <div class="alert alert-warnning" id="warnning-alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>경고! </strong>
                    <p id="warnning-message"></p>
                </div>
                            <!--<span th:utext="${successMessage}"></span>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="saveItemProd();" id="createItemProdBtn">등록</button>
                <button type="button" class="btn btn-danger pull-left" onclick="deleteItemProd();" id="deleteItemProdBtn" style="display: none">삭제</button>
                <button type="button" class="btn btn-primary" onclick="closeModalIma('createItemProdModal');">닫기</button>
            </div>
    </form>
    </div>
</div>
<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="popupItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <!--<form class="modal-content form-horizontal" th:action="@{/admin/groupCodeList/save}" th:object="${groupCodeList}" method="post">-->
        <form class="modal-content form-horizontal" action="javascript:popupItemList(1);" method="post" id="popupItemForm">
            <input type="hidden" name="relayGroupCode" id="relayGroupCode" value="" />
            <input type="hidden" name="pageNumber2" id="pageNumber2" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">품목 정보</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="popupItemName">품목명</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="popupItemName" id="popupItemName" placeholder="품목명" />
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn pull-right btn-danger" onclick="popupItemList(1)">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-fixed">
                        <thead>
                        <tr>
                            <th class="text-center">품목코드</th>
                            <th class="text-center">품목명</th>
                        </tr>
                        </thead>
                        <tbody id="popupItemBody">
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 col-xs-12 text-center">
                    <p id="pagination-popupItemModal" style="margin-top: 30px;" align="center"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModalIma('popupItemModal');">닫기</button>
            </div>
        </form>
    </div>
</div>
<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="popupProdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <!--<form class="modal-content form-horizontal" th:action="@{/admin/groupCodeList/save}" th:object="${groupCodeList}" method="post">-->
        <form class="modal-content form-horizontal" action="javascript:popupProdList(1);" method="post" id="popupProdForm">
            <input type="hidden" name="pageNumber3" id="pageNumber3" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">상품 정보</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="popupProdName">상품명</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="popupProdName" id="popupProdName" placeholder="상품명" />
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn pull-right btn-danger" onclick="popupProdList(1)">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-fixed">
                        <thead>
                        <tr>
                            <th class="text-center">상품명</th>
                            <th class="text-center">상품코드</th>
                        </tr>
                        </thead>
                        <tbody id="popupProdBody">
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 col-xs-12 text-center">
                    <p id="pagination-popupProdModal" style="margin-top: 30px;" align="center"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModalIma('popupProdModal');">닫기</button>
            </div>
        </form>
    </div>
</div>
<!-- modal -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getItemProdList(1);

$('#itemCode').on('click', function (e) {
    if ($('#itemCode').val().length == 0) {

        e.preventDefault();
//    $('#createItemProdModal').modal('hide');
        $('#popupItemModal').modal({backdrop: 'static', keyboard: false});
        //popupItemName
        $('#popupItemModal').on('shown.bs.modal', function () {
            $('#popupItemName').focus()
        });
        popupItemList(1);
    }
});

$('#itemCode').on('keyup', function (e) {
    if ($('#itemCode').val().length == 0) {
        e.preventDefault();
        $('#accountCode').val('');
        $('#createMemberAccountInfoModal').modal('hide');
        $('#popupItemModal').modal({backdrop: 'static', keyboard: false});
        $('#popupItemModal').on('shown.bs.modal', function () {
            $('#popupItemName').focus()
        });
        popupItemList(1);
    }
});

$('#prodCode').on('click', function (e) {
    e.preventDefault();
//    $('#createItemProdModal').modal('hide');
    $('#popupProdModal').modal({backdrop: 'static', keyboard: false});
    //popupItemName
    $('#popupProdModal').on('shown.bs.modal', function () {
        $('#popupProdName').focus()
    });
    popupProdList(1);
});

$('#prodCode').on('keyup', function (e) {
    e.preventDefault();
    $('#prodCode').val('');
//    $('#createItemProdModal').modal('hide');
    $('#popupProdModal').modal({backdrop: 'static', keyboard: false});
    $('#popupProdModal').on('shown.bs.modal', function () {
        $('#popupProdName').focus()
    });
    popupProdList(1);
});

    function onKeyDown(obj) {
        if(event.keyCode == 13) {
            getItemProdList(1);
        }
    }
</script>

</body>
</html>
