<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>재고관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/ima/imaList}">재고현황</a></h1>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="callName" id="callName" value="getImaList" />
            <div class="form-group">
                <label for="itemCode">품목코드</label>
                <input type="text" class="form-control" name="itemCode" id="itemCode" placeholder="품목코드" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="itemName">품목명</label>
                <input type="text" class="form-control" name="itemName" id="itemName" placeholder="품목명" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="searchYearMonth2">해당년월</label>
                <input type="text" class="form-control" name="searchYearMonth2" id="searchYearMonth2" placeholder="yyyy-mm" value="" />
            </div>
            <button type="button" class="btn pull-right btn-danger" onclick="getImaList()">검색</button>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span class="label label-default" id="total-count"></span>
            <span class="label label-success">영업건수</span>
            <span class="label label-primary">듀오락건수</span>
            <span class="label label-danger">외부몰건수</span>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <button type="button" class="btn btn-primary" id="btnExcel" onclick="downloadExcel()" >엑셀다운로드</button>
            </p>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th rowspan="2" class="text-center" style="vertical-align: middle;">품목코드</th>
                    <th rowspan="2" class="text-center">품목명</th>
                    <th rowspan="2" class="text-center">해당년월</th>
                    <th rowspan="2" class="text-center">기초재고</th>
                    <th rowspan="2" class="text-center">입고</th>
                    <th rowspan="2" class="text-center">출고</th>
                    <th rowspan="2" class="text-center">기말재고</th>
                    <th rowspan="2" class="text-center">배송실재고(sms-각담당자)</th>
                    <th colspan="1" class="text-center">합계</th>
                    <th colspan="3" class="text-center order">영업(하루전)</th>
                    <th colspan="3" class="text-center duolac">듀오락(3시간전 배치:12,3,5)</th>
                    <th colspan="3" class="text-center exmall">외부몰(하루전)</th>
                </tr>
                <tr>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">해당년월</th>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">판매단가</th>
                    <th class="text-center">해당년월</th>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">판매단가</th>
                    <th class="text-center">해당년월</th>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">판매단가</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <!--<div class="col-md-12 col-xs-12 text-center page-margin">-->
                <!--<p id="pagination-here" class="pagination-margin" align="center"></p>-->
            <!--</div>-->
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getImaList(1);

    function onKeyDown(obj) {
        if(event.keyCode == 13) {
            getImaList(1);
        }
    }

</script>

</body>
</html>
