<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>재고관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/ima/prodReleaseList}">상품 판매현황 관리</a></h1>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="javascript:getProdReleaseList(1);" method="post" class="form-inline" role="form" id="searchForm">
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="boardIdx" id="boardIdx" value="prodReleaseList" />
            <input type="hidden" name="callName" id="callName" value="getProdReleaseList" />
            <div class="form-group">
                <label for="searchYearMonth2">판매일</label>
                <input type="text" class="form-control" name="searchYearMonth2" id="searchYearMonth2" placeholder="yyyy-mm" value="" />
            </div>
            <div class="form-group">
                <label for="prodCode">상품코드</label>
                <input type="text" class="form-control" name="prodCode" id="prodCode" placeholder="상품코드" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="prodName">상품명</label>
                <input type="text" class="form-control" name="prodName" id="prodName" placeholder="상품명" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="mallCode">쇼핑몰</label>
                <input type="text" class="form-control" name="mallCode" id="mallCode" placeholder="쇼핑몰" onkeydown="onKeyDown(this)" />
            </div>
            <div class="form-group">
                <label for="mallSite">사이트</label>
                <select name="mallSite" id="mallSite" class="form-control">
                    <option th:each="item : ${selectSite}"
                            th:value="${item.value}"
                            th:text="${item.key}">사이트</option>
                </select>
                <!--<input type="text" class="form-control" name="mallSite" id="mallSite" placeholder="쇼핑몰" />-->
            </div>

            <button type="button" class="btn pull-right btn-danger" onclick="getProdReleaseList()">검색</button>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span class="label label-default" id="total-count"></span>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <button type="button" class="btn btn-primary" id="btnExcel" onclick="downloadExcel()" >엑셀다운로드</button>
            </p>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th class="text-center">판매일</th>
                    <th class="text-center">상품코드</th>
                    <th class="text-center">상품명</th>
                    <th class="text-center">수량</th>
                    <th class="text-center">단가</th>
                    <th class="text-center">쇼핑몰</th>
                    <th class="text-center">사이트</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <div class="col-md-12 col-xs-12 text-center page-margin">
                <p id="pagination-here" class="pagination-margin" align="center"></p>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getProdReleaseList(1);

    function onKeyDown(obj) {
        if(event.keyCode == 13) {
            getProdReleaseList(1);
        }
    }
</script>

</body>
</html>
