<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellbiotech.mapper.neoe.DuzonDeliveryQtBatchMapper">
    <select id="selectDuzonDeliveryBatch" parameterType="Map" resultType="Map">
         SELECT *
         FROM
         (
            SELECT CD_ITEM itemCode
            , DT_SO dtSo
            , 'ORDER' deliveryType
            , NO_SO AS noSo
            , SEQ_SO AS seqSo
            , QT_SO AS qtDelivery
             FROM NEOE.V_SA_SOHL
            WHERE 1=1
            AND CD_PARTNER = '00546'
            AND DT_SO = #{regDate}

            UNION ALL

            SELECT    A.CD_ITEM AS itemCode
                , A.DT_IO AS dtSo
                , '012' AS deliveryType
                , A.NO_IO AS noSo
                , A.NO_IOLINE AS seqSo
                , A.QT_IO AS qtDelivery
            FROM NEOE.MM_QTIO A
            INNER JOIN (
                SELECT  NO_IO
                FROM NEOE.MM_QTIOH
                WHERE 1=1
                AND CD_COMPANY = '1000'
                and CD_PLANT = '1000'
                AND CD_PARTNER = '00546'
                AND DT_IO = #{regDate}
                AND CD_DEPT_REQ = '22200'
            ) B ON A.NO_IO = B.NO_IO
        ) AA
        ORDER BY AA.noSo, AA.seqSo
    </select>
</mapper>