<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>영업관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <h1>담당자별종합실적</h1>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="callName" id="callName" value="getCpList" />
            <input type="hidden" id="boardIdx" name="boardIdx" value=""/>
            <div class="form-group">
                <label for="salesManagerName">담당자</label>
                <input type="text" class="form-control" name="salesManagerName" id="salesManagerName" placeholder="담당자" />
            </div>
            <div class="form-group">
                <label for="searchYearMonth">기준일자</label>
                <input type="text" class="form-control" name="searchYearMonth" id="searchYearMonth" placeholder="yyyy-mm" value="" />
            </div>
            <button type="button" class="btn pull-right btn-danger" onclick="getCpList()">검색</button>
        </form>
        </div>
    </div>

    <div>
        <p class="text-right">
            <!--<button type="button" class="btn btn-primary" onclick="location.href='/admin/cpListExcel?searchYearMonth='+$('#searchYearMonth').val()" >엑셀다운로드</button>-->
            <button type="button" class="btn btn-primary" id="btnExcel" onclick="downloadExcel()" >엑셀다운로드</button>
        </p>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="table-responsive">
            <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="editForm">
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th rowspan="2" colspan="2" class="text-center">소속</th>
                    <th rowspan="2" class="text-center">담당자</th>
                    <th colspan="6" class="text-center">판매</th>
                    <th colspan="3" class="text-center">수금</th>
                    <th colspan="2" class="text-center">신규처</th>
                    <th colspan="2" class="text-center">전문가몰</th>
                </tr>
                <tr>
                    <th class="text-center">목표</th>
                    <th class="text-center">실적</th>
                    <th class="text-center">반품</th>
                    <th class="text-center">최종금액</th>
                    <th class="text-center">달성율</th>
                    <th class="text-center">잔여목표</th>
                    <th class="text-center">목표</th>
                    <th class="text-center">금액</th>
                    <th class="text-center">달성율</th>
                    <th class="text-center">처수</th>
                    <th class="text-center">매출</th>
                    <th class="text-center">처수</th>
                    <th class="text-center">매출</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </form>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <!--<div class="col-md-12 col-xs-12 text-center page-margin">-->
                <!--<p id="pagination-here" style="margin-top: 30px;" align="center"></p>-->
            <!--</div>-->
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getCpList(1);
</script>

</body>
</html>
