<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>영업관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/admin/orderList}">수주리스트</a></h1>
        </div>
    </div>

    <span id="more" style="cursor: pointer;" onclick="if(story.style.display=='none') {story.style.display='';$('#aaa').attr('class', 'glyphicon glyphicon-minus');} else {story.style.display='none';$('#aaa').attr('class', 'glyphicon glyphicon-plus');}"><span id="aaa" class="glyphicon glyphicon-plus" aria-hidden="true">엑셀업로드</span></span>
    <div id="story" style="display: none">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="#"  method="post" class="form-inline" role="form" enctype="multipart/form-data" id="fileUploadForm">
            <input type="hidden" id="boardIdx" name="boardIdx" value="111"/>
            <div class="form-group">
                <label for="fileVal">수주리스트 엑셀업로드</label>
                <input type="file"  id="fileVal" name="file"/><br/>
            </div>
            <button type="submit" class="btn btn-danger" id="btnSubmit">업로드</button>
        </form>
        <div>
            <p>| 수주번호 | NO | 거래처코드 | 거래처명 | 영업그룹코드 | 영업그룹명 | 품목 | 품목명 | 수주일자 | 규격 | 수주담당자 | 수량 | 단가 | 금액 | 부가세 | 합계 | 비고1 |</p>
        </div>
        </div>
    </div>
    </div>

    <div class="alert alert-success" id="success-alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Success! </strong>
        수주리스트 엑셀파일 업로드.
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="callName" id="callName" value="getOrderList" />
            <div class="form-group">
                <label for="orderNum">수주번호</label>
                <input type="text" class="form-control" name="orderNum" id="orderNum" placeholder="수주번호" />
            </div>
            <div class="form-group">
                <label for="accountCode">거래처코드</label>
                <input type="text" class="form-control" name="accountCode" id="accountCode" placeholder="거래처코드" />
            </div>
            <div class="form-group">
                <label for="accountName">거래처</label>
                <input type="text" class="form-control" name="accountName" id="accountName" placeholder="거래처" />
            </div>
            <div class="form-group">
                <label for="searchYearMonth2">수주일자</label>
                <input type="text" class="form-control" name="searchYearMonth2" id="searchYearMonth2" placeholder="yyyy-mm" value="" />
            </div>
            <button type="button" class="btn pull-right btn-danger" onclick="getOrderList()">검색</button>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span class="label label-default" id="total-count"></span>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <button type="button" class="btn btn-primary" id="btnExcel" onclick="downloadExcel()" >엑셀다운로드</button>
            </p>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th class="text-center">수주번호</th>
                    <th class="text-center">NO</th>
                    <th class="text-center">거래처코드</th>
                    <th class="text-center">거래처</th>
                    <th class="text-center">영업그룹코드</th>
                    <th class="text-center">영업그룹</th>
                    <th class="text-center">품목코드</th>
                    <th class="text-center">품목</th>
                    <th class="text-center">수주일자</th>
                    <th class="text-center">규격</th>
                    <th class="text-center">수주담당자</th>
                    <th class="text-center">수량</th>
                    <th class="text-center">단가</th>
                    <th class="text-center">금액</th>
                    <th class="text-center">부가세</th>
                    <th class="text-center">합계</th>
                    <th class="text-center">비고</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <div class="col-md-12 col-xs-12 text-center page-margin">
                <p id="pagination-here" class="pagination-margin" align="center"></p>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getOrderList(1);
</script>

</body>
</html>
