<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>영업관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<form th:action="@{/registration}" method="get">
<div th:if="${#authorization.expression('isAuthenticated()') and #strings.contains(#authentication.getName(),'admin')}" >
<button class="btn btn-md btn-warning btn-block" style="margin-top: 50px;" type="Submit">Go To Registration Page</button>
</div>
</form>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/admin/userList}">사용자정보</a></h1>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-primary">
            <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
                <input type="hidden" name="pageNumber" id="pageNumber" />
                <input type="hidden" name="callName" id="callName" value="getUserList" />
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" name="id" id="id" placeholder="ID" />
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" class="form-control" name="role" id="role" placeholder="Role" />
                </div>
                <button type="button" class="btn pull-right btn-danger" onclick="getUserList()">검색</button>
            </form>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th class="text-center">아이디</th>
                    <th class="text-center">이름</th>
                    <th class="text-center">역할</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <div class="col-md-12 col-xs-12 text-center page-margin">
                <p id="pagination-here" class="pagination-margin" align="center"></p>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getUserList(1);
</script>

</body>
</html>
