<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="jdbc.sqlonly" 		level="OFF" />
	<logger name="jdbc.sqltiming" 		level="INFO" />
	<logger name="jdbc.audit" 			level="OFF" />
	<logger name="jdbc.resultset" 		level="OFF" />
	<logger name="jdbc.resultsettable" 	level="OFF" />
	<logger name="jdbc.connection" 		level="OFF" />

	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.type" level="TRACE" />
	<logger name="org.hibernate.stat" level="DEBUG" />
	<logger name="org.hibernate.type.BasicTypeRegistry" level="WARN" />
</configuration>