<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>재고관리시스템</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="panel-group" style="margin-top:20px;">
        <div class="panel panel-primary">
            <h1><a href="#" th:href="@{/neoe/neoeList}">재고현황</a></h1>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
        <form autocomplete="off" action="#" method="post" class="form-inline" role="form" id="searchForm">
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="callName" id="callName" value="getNeoeList" />
            <div class="form-group">
                <label for="ynUseQtInv">0개품목포함</label>
                <input type="checkbox" class="form-control" name="ynUseQtInv" id="ynUseQtInv" placeholder="0개품목포함" value="Y" />
            </div>
            <div class="form-group">
                <label for="itemFrom">품목코드</label>
                <input type="text" class="form-control" name="itemFrom" id="itemFrom" placeholder="품목코드" onkeydown="onKeyDown(this)" value="" />
            </div>
            <div class="form-group">
                ~
            </div>
            <div class="form-group">
                <label for="itemTo">품목코드</label>
                <input type="text" class="form-control" name="itemTo" id="itemTo" placeholder="품목코드" onkeydown="onKeyDown(this)" value="" />
            </div>
            <div class="form-group">
                <label for="itemNm">품목명</label>
                <input type="text" class="form-control" name="itemNm" id="itemNm" placeholder="품목명" onkeydown="onKeyDown(this)" value="" />
            </div>
            <!--<div class="form-group">-->
                <!--<label for="multiCdSl">창고</label>-->
                <!--<input type="text" class="form-control" name="multiCdSl" id="multiCdSl" placeholder="창고" onkeydown="onKeyDown(this)" value="DOK" />-->
                <input type="hidden" class="form-control" name="multiCdSl" id="multiCdSl" value="DOK" />
            <!--</div>-->

            <div class="form-group">
                <label for="searchDateInput">기준일자</label>
                <input type="text" class="form-control" name="searchDateInput" id="searchDateInput" placeholder="yyyy-mm-dd" />
            </div>
            <button type="button" class="btn pull-right btn-danger" onclick="getNeoeList()">검색</button>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span class="label label-default" id="total-count"></span>
            <!--<button type="button" class="btn btn-warning btn-xs" id="btnSyncList" onclick="syncList()" >패킹 동기화</button>-->
            <!--<span class="label label-success">영업건수</span>-->
            <!--<span class="label label-primary">듀오락건수</span>-->
            <!--<span class="label label-danger">외부몰건수</span>-->
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <!--<button type="button" class="btn btn-primary" id="btnExcel" onclick="downloadExcel()" >엑셀다운로드</button>-->
            </p>
        </div>
    </div>

    <div class="panel-group" style="margin-top:20px; ">
        <div class="panel panel-primary">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-fixed">
                <thead>
                <tr>
                    <th rowspan="2" class="text-center" style="vertical-align: middle;">품목코드</th>
                    <th rowspan="2" class="text-center">품목명</th>
                    <th rowspan="2" class="text-center">창고재고</th>
                    <th colspan="2" class="text-center">영업</th>
                    <th rowspan="2" class="text-center">배송실재고(sms-각담당자)</th>
                    <th colspan="2" class="text-center">합계</th>
                    <th colspan="2" class="text-center">듀오락(3시간전 배치:12,3,5)</th>
                    <th colspan="1" class="text-center">외부몰(하루전)</th>
                </tr>
                <tr>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">판매금액</th>
                    <th class="text-center">해당년월</th>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">판매수량</th>
                    <th class="text-center">판매금액</th>
                    <th class="text-center">판매수량</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

            <!--<div class="col-md-12 col-xs-12 text-center page-margin">-->
                <!--<p id="pagination-here" class="pagination-margin" align="center"></p>-->
            <!--</div>-->
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script>
    getNeoeList(1);
    syncList();
    syncSfaBatch();

    function onKeyDown(obj) {
        if(event.keyCode == 13) {
            getNeoeList(1);
        }
    }

    function syncList() {
//        $('#btnSyncList').prop('disabled', true);
        $.ajax({
            url:'/syncList.ajax',
            type:'post',
            data:{date:$('#searchDateInput').val()},
            dataType:'json',
            success:function(data){
//                $('#btnSyncList').prop('disabled', false);
//                toastMsg($('#searchDateInput').val()+' 자사몰 패킹:'+data.duolacCnt+'건, 외부몰 패킹:'+data.exmallCnt+'건 동기화 완료했습니다.', getNeoeList);
            },
            error:function(error){
                $('#btnSyncList').prop('disabled', false);
                console.log(error);
            }
        });
    }

    function syncSfaBatch() {
//        $('#btnSyncSfaBatch').prop('disabled', true);
        $.ajax({
            url:'/syncSfaBatch.ajax',
            type:'post',
            data:{date:$('#searchDateInput').val()},
            dataType:'json',
            success:function(data){
//                $('#btnSyncSfaBatch').prop('disabled', false);
                if (data.isSuccess) {
//                    toastMsg($('#searchDateInput').val()+' 재고 수량 동기화 성공하였습니다.', getDuolacList);
                } else {

                }
            },
            error:function(error){
                console.log(error);
            }
        });
    }

</script>

</body>
</html>
