<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>재고관리시스템</title>

    <div th:replace="fragments/nav :: header-css"/>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div th:replace="fragments/nav :: nav"/>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/neoe/neoeList">재고현황</a>
            </li>
        </ol>
        <div class="card mb-3">
            <div class="card-body">
            <div class="col col-12">
                <!--<h1>Blank</h1>-->
                <!--<p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>-->
                <form class="form-inline" autocomplete="off" action="#" method="post" role="form" id="searchForm">
                    <input type="hidden" name="pageNumber" id="pageNumber" />
                    <input type="hidden" name="callName" id="callName" value="getNeoeList" />
                    <input type="hidden" class="form-control" name="multiCdSl" id="multiCdSl" value="DOK" />
                    <label for="ynUseQtInv">0개 품목포함</label>
                    <input type="checkbox" class="form-control mb-2 mr-sm-2 mb-sm-0" name="ynUseQtInv" id="ynUseQtInv" placeholder="0개품목포함" value="Y" />

                    <label class="sr-only">품목코드</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="itemFrom" id="itemFrom" placeholder="품목코드" onkeydown="onKeyDown(this)" value="" />
                    ~ &nbsp;
                    <label class="sr-only">품목코드</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="itemTo" id="itemTo" placeholder="품목코드" onkeydown="onKeyDown(this)" value="" />

                    <label class="sr-only">품목명</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="itemNm" id="itemNm" placeholder="품목명" onkeydown="onKeyDown(this)" value="" />
                    <!--</div>-->

                    <label class="sr-only">기준일자</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="searchDateInput" id="searchDateInput" placeholder="yyyy-mm-dd" />
                </form>
            </div>

            </div>
        </div>

        <div class="row">
            <div class="col col-10" style="margin-bottom: 1rem;">
                <span class="label label-default" id="total-count"></span>
            </div>
            <div class="col col-2" style="margin-bottom: 1rem;">
                <a href="javascript:void(0);" type="button" class="btn btn-danger float-right" onclick="getNeoeList()">검색</a>
            </div>
        </div>

        <div class="card mb-3">
            <!--<div class="card-header">-->
            <!--<i class="fa fa-table"></i> Data Table Example</div>-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-fixed">
                        <thead>
                        <tr>
                            <th rowspan="2" class="text-center" style="vertical-align: middle;">품목코드</th>
                            <th rowspan="2" class="text-center">품목명</th>
                            <th rowspan="2" class="text-center">창고재고</th>
                            <th colspan="2" class="text-center">영업</th>
                            <th rowspan="2" class="text-center">배송실재고</th>
                            <th colspan="2" class="text-center">합계</th>
                            <th colspan="2" class="text-center">듀오락</th>
                            <th colspan="1" class="text-center">외부몰</th>
                        </tr>
                        <tr>
                            <th class="text-center">판매수량</th>
                            <th class="text-center">판매금액</th>
                            <th class="text-center">해당년월</th>
                            <th class="text-center">판매수량</th>
                            <th class="text-center">판매수량</th>
                            <th class="text-center">판매금액</th>
                            <th class="text-center">판매수량</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th rowspan="2" class="text-center" style="vertical-align: middle;">품목코드</th>
                            <th rowspan="2" class="text-center" style="vertical-align: middle;">품목명</th>
                            <th rowspan="2" class="text-center" style="vertical-align: middle;">창고재고</th>
                            <th colspan="2" class="text-center">영업</th>
                            <th rowspan="2" class="text-center" style="vertical-align: middle;">배송실재고</th>
                            <th colspan="2" class="text-center">합계</th>
                            <th colspan="2" class="text-center">듀오락</th>
                            <th colspan="1" class="text-center">외부몰</th>
                        </tr>
                        <tr>
                            <th class="text-center">판매수량</th>
                            <th class="text-center">판매금액</th>
                            <th class="text-center">해당년월</th>
                            <th class="text-center">판매수량</th>
                            <th class="text-center">판매수량</th>
                            <th class="text-center">판매금액</th>
                            <th class="text-center">판매수량</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="error">Error! </strong>
                <p id="error-message"></p>
            </div>

        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <div th:replace="fragments/navfooter :: navfooter"/>
</div>

<script>
    getNeoeList(1);
    syncList();
    syncSfaBatch();

    function onKeyDown(obj) {
        if(event.keyCode == 13) {
            getNeoeList(1);
        }
    }

    function syncList() {
//        $('#btnSyncList').prop('disabled', true);
        $.ajax({
            url:'/syncList.ajax',
            type:'post',
            data:{date:$('#searchDateInput').val()},
            dataType:'json',
            success:function(data){
//                $('#btnSyncList').prop('disabled', false);
//                toastMsg($('#searchDateInput').val()+' 자사몰 패킹:'+data.duolacCnt+'건, 외부몰 패킹:'+data.exmallCnt+'건 동기화 완료했습니다.', getNeoeList);
            },
            error:function(error){
                $('#btnSyncList').prop('disabled', false);
                console.log(error);
            }
        });
    }

    function syncSfaBatch() {
//        $('#btnSyncSfaBatch').prop('disabled', true);
        $.ajax({
            url:'/syncSfaBatch.ajax',
            type:'post',
            data:{date:$('#searchDateInput').val()},
            dataType:'json',
            success:function(data){
//                $('#btnSyncSfaBatch').prop('disabled', false);
                if (data.isSuccess) {
//                    toastMsg($('#searchDateInput').val()+' 재고 수량 동기화 성공하였습니다.', getDuolacList);
                } else {

                }
            },
            error:function(error){
                console.log(error);
            }
        });
    }

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });

    $('#searchDateInput').datepicker({
        changeMonth: true,
        changeYear: true
    });
</script>

</body>
</html>
