<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellbiotech.mapper.sfa.ProdInvBatchListMapper">
    <select id="selectProdInvBatchList" parameterType="Map" resultType="Map">
        SELECT  'SFA' AS cdPlant,
                ITEM_CODE AS cdItem,
                LEFT(UPDATE_DATE,4) AS yyInv,
                REPLACE(UPDATE_DATE, '-', '') ymIo,
                0 AS qtDelivery,
                SUM(AAA) AS qtDuolac,
                SUM(BBB) AS qtExmall
        FROM (
            SELECT UPDATE_DATE,
            ITEM_CODE,
            CASE WHEN MALL_SITE = 'DUOLAC' THEN SUM(PROD_QTY) ELSE 0 END aaa,
            CASE WHEN MALL_SITE = 'EXMALL' THEN SUM(PROD_QTY) ELSE 0 END bbb,
            CASE WHEN MALL_SITE = 'DUOLAC' THEN SUM(SALES_PRICE_SUM) ELSE 0 END ccc,
            CASE WHEN MALL_SITE = 'EXMALL' THEN SUM(SALES_PRICE_SUM) ELSE 0 END ddd
            FROM (
                SELECT LEFT(RELEASE_DATE, 7) UPDATE_DATE, IPL.ITEM_CODE, 'DUOLAC' AS MALL_CODE, DR.PROD_QTY, 'DUOLAC' AS MALL_SITE, DR.SALES_PRICE_SUM FROM I_DUOLAC_RELEASE DR
                INNER JOIN I_ITEM_PROD_LIST IPL ON IPL.PROD_CODE = DR.PROD_CODE
                WHERE 1=1
                <![CDATA[
                AND  RELEASE_DATE >=CONVERT(NCHAR(6), LEFT(#{regDate}, 6)) + '01'
                AND RELEASE_DATE <= #{regDate}
                ]]>

                UNION ALL

                SELECT LEFT(UPDATE_DATE, 7) UPDATE_DATE, IPL.ITEM_CODE, PRL.MALL_CODE, PRL.PROD_QTY, PRL.MALL_SITE, 0 AS SALES_PRICE_SUM  FROM I_PROD_RELEASE_LIST PRL
                INNER JOIN I_ITEM_PROD_LIST IPL ON IPL.PROD_CODE = PRL.PROD_CODE
                WHERE 1=1
                <![CDATA[
                AND  UPDATE_DATE >=CONVERT(NCHAR(6), LEFT(#{regDate}, 6)) + '01'
                AND UPDATE_DATE <= #{regDate}
                AND PRL.MALL_SITE = 'EXMALL'
                ]]>
            ) A
            GROUP BY UPDATE_DATE, ITEM_CODE, MALL_SITE
        ) AA
        GROUP BY UPDATE_DATE, ITEM_CODE

        UNION ALL

		  SELECT 'DUZON' AS cdPlant
		  , ITEM_CODE AS cdItem
		  , LEFT(DT_SO,4) AS yyInv
		  , DT_SO AS ymIo
		  , SUM(QT_DELIVERY) qtDelivery
		  , 0 qtDuolac
		  , 0 qtExmall
		 FROM (
					SELECT	LEFT(DT_SO, 6) DT_SO
							,ITEM_CODE
							,QT_DELIVERY
					FROM I_DUZON_DELIVERY_QT_LIST
					WHERE 1=1
                   <![CDATA[
					AND  DT_SO >=CONVERT(NCHAR(6), LEFT(#{regDate}  , 6)) + '01'
					AND DT_SO <= #{regDate}
                  ]]>
					) C
		GROUP BY DT_SO, ITEM_CODE

    </select>

</mapper>