<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellbiotech.mapper.sfa.UploadListMapper">
    <select id="selectUploadListCount" parameterType="Map" resultType="int">
        SELECT
         COUNT(*)
        FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY IDX) NUM,
            IDX AS IDX,
            BOARD_IDX AS BOARD_IDX,
            ORIGINAL_FILE_NAME AS ORIGINAL_FILE_NAME,
            STORED_FILE_NAME AS STORED_FILE_NAME,
            UPLOAD_PATH AS UPLOAD_PATH,
            LINK_PATH AS LINK_PATH,
            FILE_SIZE AS FILE_SIZE,
            CREA_DTM AS CREA_DTM,
            CREA_ID AS CREA_ID,
            DEL_GB AS DEL_GB,
            INSERT_START_TIME AS INSERT_START_TIME,
            INSERT_FINISH_TIME AS INSERT_FINISH_TIME,
            INSERT_TABLE AS INSERT_TABLE,
            INSERT_GB AS INSERT_GB
            FROM dbo.U_UPLOAD_FILE_INFO
        WHERE 1=1
        <if test="originalFileName !=null and originalFileName !=''">
            AND ORIGINAL_FILE_NAME LIKE '%' + #{originalFileName} + '%'
        </if>
        <if test="searchDate !=null and searchDate !=''">
            AND CONVERT(VARCHAR(10),CREA_DTM, 120) = #{searchDate}
        </if>
        ) AA
        WHERE 1=1
    </select>
    <select id="selectUploadList" parameterType="Map" resultType="Map">
        SELECT
        *
        FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY IDX DESC) num,
            IDX AS idx,
            BOARD_IDX AS boardIdx,
            ORIGINAL_FILE_NAME AS originalFileName,
            STORED_FILE_NAME AS storedFileName,
            UPLOAD_PATH AS uploadPath,
            LINK_PATH AS linkPath,
            FILE_SIZE AS fileSize,
            ISNULL(CONVERT(VARCHAR(10), CREA_DTM, 120), '') AS creaDtm,
            CREA_ID AS creaId,
            DEL_GB AS delGb,
            ISNULL(CONVERT(VARCHAR,INSERT_START_TIME, 120), '') AS insertStartTime,
            ISNULL(CONVERT(VARCHAR, INSERT_FINISH_TIME, 120), '') AS insertFinishTime,
            ISNULL(INSERT_TABLE, '') AS insertTable,
            INSERT_GB AS insertGb
            FROM U_UPLOAD_FILE_INFO
            WHERE 1=1
        <if test="originalFileName !=null and originalFileName !=''">
            AND ORIGINAL_FILE_NAME LIKE '%' + #{originalFileName} + '%'
        </if>
        <if test="searchDate !=null and searchDate !=''">
            AND CONVERT(VARCHAR(10),CREA_DTM, 120) = #{searchDate}
        </if>
        ) AA
        WHERE 1=1
    <if test="startPageNum != null and startPageNum != ''">
        AND NUM between #{startPageNum} AND  #{endPageNum}
    </if>
    </select>
</mapper>